.hz-sec{
    padding: 48px;
    display: flex;
    width: 1280px;
}
.hz-mb-32{
    margin-bottom: 32px;
}
.hz-video-con{
    width: 50%;
    display: flex;
    align-self: center;
    justify-content: flex-end;

    z-index: 20;
}
.hz-video{
    height: 444px;
    width: 555px;
    margin-right: -50px;
}
.hz-text-con{
    width: 50%;
    background: linear-gradient( 90deg, rgba(243, 243, 243, 1) 0%, rgba(239, 237, 236, 1) 50%, rgba(224, 220, 217, 1) 100% );
    text-align: center;
    z-index: 10;
    padding: 80px;
}
.hz-title{
    font-family: GTSectra,"Times New Roman",serif;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: .32px;
}
.hz-paragraph{
    font-family: MaisonNeueBook,"Avenir Light",Arial,sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #2c3650;
    padding-left: 24px;
    padding-right: 24px;
}
.hz-subhead{
    text-align: center;
    font-size: 3rem;
}
header {
    font-family: "interstate-condensed", sans-serif;
    margin-top: 5rem;
  }
  
  header .hz-header-wrapper {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/aboutus/banner.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    padding: 0.8rem 4rem;
    margin: 1rem;
    /* border-radius: 1rem; */
    background-position: left;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
  }
  font{
    color: #ffa601;
  }
  header .hz-text-title {
    font-size: 5rem;
    text-align: center;
    color: #fff;
  }
  
  header .hz-text-desc {
    color: #e0dcd9;
    text-transform: none;
    font-size: 1.5rem;
  }
.hz-table-con{
    width: 70%;
    margin: 0 auto;
}
.hz-table-con thead tr {
    background-color: #ffa601;
    color: #eee;
    font-size: 2rem;
  }
  .hz-table-con tbody tr:nth-of-type(even) {
    background-color: #ffdea0;
  }
  .hz-table-con th, table td {
    padding: 5px;
    text-align: center;
  }