header {
    font-family: "interstate-condensed", sans-serif;
    margin-top: 5rem;
  }
  
  header .hz-header-wrapper {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../images/contactus/contact_banner.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    padding: 0.8rem 4rem;
    margin: 1rem;
    /* border-radius: 1rem; */
    background-position: left;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
  }
  
  header .hz-text-title {
    font-size: 5rem;
    text-align: center;
    color: #fff;
  }
  
  header .hz-text-desc {
    color: #e0dcd9;
    text-transform: none;
    font-size: 1.5rem;
  }
  .hz-subhead{
    text-align: center;
    font-size: 3rem;
  }